<!DOCTYPE html>
<html lang="en" ng-app="mybuilder">

<%- include('head'); %>

  <body class="lime loaded">
    <!-- Start Page Loading -->
    <div id="loader-wrapper">
      <div id="loader"></div>
      <div class="loader-section section-left"></div>
      <div class="loader-section section-right"></div>
    </div>
    <!-- End Page Loading -->

    <div id="login-page" class="row">

      <div class="z-depth-4 card-panel col s12">
        <!-- Cabeçalho -->
        <div class="input-field center">
          <img src="/images/login-logo.png" alt="" class="responsive-img valign profile-image-login">
          <p class="center login-form-text">Welcome
            <%= user %>
          </p>
          <a href="/files/build" class="waves-effect waves-light btn"><i class="material-icons left">add_circle</i>Upload File</a>
          <a href="/account/logout" class="waves-effect waves-light btn"><i class="material-icons right">exit_to_app</i>Logout</a>
        </div>

        <!-- Lista -->
        <div ng-controller="mybuildercontroller">
          <ul class="collection" ng-repeat="build in list">

            <li class="collection-item avatar">
              <i class="material-icons circle">{{build.icon}}</i>
              <span class="title">{{build.name}}</span>
              <p>
                Date: {{build.date}} <br>Time: {{build.time}} <br>Hash: {{build.hash}}
              </p>

              <div class="secondary-content">
                <a href="/files/validate"><i class="material-icons">cloud_done</i></a>
                <a href="/files/update"><i class="material-icons">cloud_upload</i></a>
                <a href="#!delete"><i class="material-icons">delete</i></a>
              </div>

            </li>

          </ul>
        </div>

      </div>
    </div>

    <%- include('scripts'); %>
      <script src="/javascripts/angular.js"></script>
      <script src="/javascripts/angular_controler.js"></script>

      <div class="hiddendiv common"></div>
  </body>

</html>