<!DOCTYPE html>
<!-- saved from url=(0058)http://demo.geekslabs.com/materialize-v1.0/user-login.html -->
<html lang="en">

<%- include('head'); %>

  <body class="cyan loaded">
    <!-- Start Page Loading -->
    <div id="loader-wrapper">
      <div id="loader"></div>
      <div class="loader-section section-left"></div>
      <div class="loader-section section-right"></div>
    </div>
    <!-- End Page Loading -->

    <div id="login-page" class="row z-depth-4 card-panel">

      <!-- Cabeçalho -->
      <div class="row">
        <div class="input-field col s12 center">
          <img src="/images/login-logo.png" alt="" class="circle responsive-img valign profile-image-login">
          <p class="center login-form-text">Text very very very very........ fucking long, long as enought</p>
        </div>
      </div>
      <!-- ========= -->

      <!-- Lista -->
      <div class="row s6">

        <ul class="collapsible popout" data-collapsible="accordion">

          <li>
            <div class="collapsible-header"><i class="material-icons">filter_drama</i>First</div>
            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
          </li>

          <li>
            <div class="collapsible-header"><i class="material-icons">place</i>Second</div>
            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
          </li>

          <li>
            <div class="collapsible-header"><i class="material-icons">whatshot</i>Third</div>
            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
          </li>

        </ul>

      </div>
      <!-- ===== -->


      <div class="row">

        <ul id="tabs-swipe-demo" class="tabs tabs-fixed-width" ng-app="photoshare">
          <li class="tab col s3"><a href="#test-swipe-1">Upload</a></li>
          <li class="tab col s3"><a href="#test-swipe-2">Veriffy</a></li>
        </ul>

        <div id="test-swipe-1" class="col s12">

          <!-- Formulário -->
          <form class="login-form center" method="post" action="/files/build" enctype="multipart/form-data"></form>

          <div class="row">
            <div class="input-field col s12 center">
              <input type="file" class="dropify" name="image" id="file"/>
            </div>
          </div>

          <div class="row">
            <div class="input-field col s12">
              <input type="submit" id="submit" value="Submit" class="btn waves-effect waves-light col s12" />
            </div>
          </div>

          </form>
          <!-- ========== -->

        </div>
        <div id="test-swipe-2" class="col s12">

          <!-- Formulário -->
          <form class="login-form center" method="post" action="/files/build" enctype="multipart/form-data"></form>

          <div class="row">
            <div class="input-field col s12 center">
              <input type="file" class="dropify" name="image" id="file" accept="image/*"/>
            </div>
          </div>

          <div class="row">
            <div class="input-field col s12">
              <input type="submit" id="submit" value="Submit" class="btn waves-effect waves-light col s12" />
            </div>
          </div>

          </form>
          <!-- ========== -->

        </div>

      </div>

    </div>

    <%- include('scripts'); %>
      <script src="/javascripts/angular.min.js"></script>
      <script src="/javascripts/angular_controler.js"></script>
      <script src="/javascripts/upload.js"></script>

      <div class="hiddendiv common"></div>
  </body>

</html>